:root {
    background-color: var(--offWhite);
}

section {
    margin-left: 2rem;
    margin-right: 2rem;
}

@media screen and (max-width: 768px) {
    section {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}