button {
    border: none;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    button {
        height: 3rem;
        width: 3rem;
    }
}

.editButton {
    background-color: var(--yellow);
    background-image: url(../assets/pencil.svg);
    vertical-align: middle;
}

.editButton:hover {
    background-color: var(--midYellow);
}

.editButtonTwo {
    background-color: var(--darkBlue);
    background-image: url(../assets/pencil.svg);
    vertical-align: middle;
    fill: var(--green);
    padding-right: 2rem;
}

.editButtonTwo:hover {
    background-color: var(--darkestBlue);
    background-image: url(../assets/pencil.svg);
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .editButtonTwo {
        margin: auto;
    }
}

.saveButton {
    background-color: var(--yellow);
    background-image: url(../assets/save.svg);
    vertical-align: middle;
}

.saveButton:hover {
    background-color: var(--midYellow);
}

.deleteButton {
    background-color: var(--red);
    background-image: url(../assets/minus.svg);
    vertical-align: middle;
}

.deleteButton:hover {
    background-color: var(--midRed);
}

.addButton {
    background-color: var(--green);
    background-image: url(../assets/plus.svg);
    vertical-align: middle;
}

.addButton:hover {
    background-color: var(--midGreen);
}

.addButtonTwo {
    background-color: var(--darkBlue);
    background-image: url(../assets/plus.svg);
    vertical-align: middle;
}

.addButtonTwo:hover {
    background-color: var(--darkestBlue);
}

.saveButtonTwo {
    background-color: var(--darkBlue);
    background-image: url(../assets/save.svg);
    vertical-align: middle;
}

.saveButtonTwo:hover {
    background-color: var(--darkestBlue);
}

.tickButton {
    background-color: var(--green);
    background-image: url(../assets/tick.svg);
    vertical-align: middle;
}

.tickButton:hover{
    background-color: var(--midGreen);
}

.crossButton {
    background-color: var(--red);
    background-image: url(../assets/cross.svg);
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .crossButton {
        margin-left: 1rem;
    }
}

.crossButton:hover {
    background-color: var(--midRed);
}

.buttonCentre {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    background-image: url(../assets/downArrow2.svg);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    margin: auto;
}