.cardHolder {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@media screen and (max-width: 768px) {
    .cardHolder {
        flex-direction: column;
    }
}

.card {
    width: 40%;
    
}

@media screen and (max-width: 768px) {

    .card {
        margin: auto;
    }

}

.budgetHolder {
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem; /* Keep this as-is or desktop shifts */

}

@media screen and (max-width: 768px) {
    .budgetHolder {
        width: 100%;
    }
}

.friendHolder {
    background-color: var(--yellow);
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem; /* Keep this as-is or desktop shifts */

}

@media screen and (max-width: 768px) {
    .friendHolder {
        width: 100%;
    }
}
/* 
.friendCard {
    background-color: var(--yellow);
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
} 

@media screen and (max-width: 768px) {
    .friendCard {
        width: 100%;
        padding: 0;
    }
} */