.cardHolder {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@media screen and (max-width: 768px) {
    .cardHolder {
        flex-direction: column;
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
}

/* .budgetCard {
    margin-bottom: 1rem;
} */

.budgetHolder {
    background-color: var(--green);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;

}

@media screen and (max-width: 768px) {
    .budgetHolder {
        width: 100%;
    }
}

.friendCard {
    background-color: var(--yellow);
}