:root {
    --lightBlue: #A6E2F0;
    --midBlue: #7DBBCA;
    --darkBlue: #3D405B;
    --darkestBlue: #0e0f15;
    --green: #81B29A;
    --midGreen: #478466;
    --red: #CC5B3D;
    --midRed: #A03E24;
    --yellow: #F5D118;
    --midYellow: #D4A912;
    --offWhite:  #f2f3f4;

}