.giftcardHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    margin-bottom: 2rem;
}

.giftcardFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.giftcard {
    margin-bottom: 1rem;
    background-color: var(--lightBlue);
    padding: 0.5rem;
}

.giftcardText {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    margin-left: 0.5rem;
    margin: 0.5rem;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .giftcardText {
        height: 5rem;
        font-size:calc(16px + 1.5vw);
    }
}