/* .table {
    background-color: var(--lightBlue);
    padding: 2rem;
} */

td.tableInputs {
    background-color: white;
    border-top: 2px solid var(--lightBlue);
    border-bottom: 2px solid var(--lightBlue);
    text-align: center;
    height: 2.5rem;
    
}

td.tableInputs:last-of-type {
    border-right: 2rem solid var(--lightBlue);
}

.tableButtons {
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.tableRow {
    border-left: 2rem solid var(--lightBlue);
    border-right: 2rem solid var(--lightBlue);
}

.tableRow:last-of-type {
    border-bottom: 2rem solid var(--lightBlue);
}

tfoot {
    background-color: var(--midBlue);
    text-align: center;
    
}

th {
    background-color: var(--lightBlue);
    padding-left: 2rem;
    padding-right: 2rem;
}


table {
    background-color: var(--lightBlue);
    border-spacing: 0;
    width: 100%;
}
