.table {
    background-color: var(--lightBlue);
    padding: 2rem;
}

td.tableInputs {
    background-color: white;
    border-top: 2px solid var(--lightBlue);
    border-bottom: 2px solid var(--lightBlue);
    text-align: center;
    vertical-align: middle;
    height: 3rem;
}

.tdNarrow {
    max-width: 4rem;
    padding-right: 1rem;
    display:inline-block;
}

.tableButtons {
    display: block;
    margin: auto;
}

.tableRow {
    border-left: 2rem solid var(--lightBlue);
    border-right: 2rem solid var(--lightBlue);
    
}

.tableRow:last-of-type {
    border-bottom: 2rem solid var(--lightBlue);
}

tfoot {
    background-color: var(--midBlue);
    text-align: center;
    border-top: 2rem solid var(--lightBlue);
    
}

th {
    background-color: var(--lightBlue);
    /* padding-left: 2rem;
    padding-right: 2rem; */
}


table {
    background-color: var(--lightBlue);
    border-spacing: 0;
    width: 100%;
}
