td.tableInputs {
    background-color: white;
}

td.tableButtons {
    background-color: var(--lightBlue);
}

th {
    background-color: var(--lightBlue);
}

table {
    margin: auto;
    /* empty-cells: show; */
    background-color: var(--lightBlue);
    border: 1rem solid var(--lightBlue);
}
