body {
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--darkBlue);
  font-size:calc(12px + 1.5vw); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "styles/reset.css";

@import "styles/colours.css";

@import "styles/typography.css";

@import "styles/body.css";

@import "styles/buttons.css";

@import "styles/table.css";

@import "styles/cards.css";

@import "styles/giftcard.css";
